Proj_1_Alien_Invasion/__pycache__/alien.cpython-37.pyc
Proj_1_Alien_Invasion/__pycache__/bullet.cpython-37.pyc
Proj_1_Alien_Invasion/__pycache__/button.cpython-37.pyc
Proj_1_Alien_Invasion/__pycache__/game_functions.cpython-37.pyc
Proj_1_Alien_Invasion/__pycache__/game_stats.cpython-37.pyc
Proj_1_Alien_Invasion/__pycache__/scoreboard.cpython-37.pyc
Proj_1_Alien_Invasion/__pycache__/settings.cpython-37.pyc
Proj_1_Alien_Invasion/__pycache__/ship.cpython-37.pyc
Proj_2_Data_Visualization/__pycache__/die.cpython-37.pyc
Proj_2_Data_Visualization/__pycache__/random_walk.cpython-37.pyc
Proj_2_Data_Visualization/__pycache__/country_codes.cpython-37.pyc
.vscode/
temp/
Proj_3_Web_Application/learning_log/__pycache__/
Proj_3_Web_Application/learning_log/__init__.py
Proj_3_Web_Application/learning_logs/__pycache__/
Proj_3_Web_Application/learning_logs/migrations/__init__.py
Proj_3_Web_Application/learning_logs/migrations/__pycache__/
Proj_3_Web_Application/learning_logs/__init__.py
Proj_3_Web_Application/ll_env/
Proj_3_Web_Application/manage.py